html{
  overflow-x: hidden;
  background-color: #f5f5f5 !important;
}
body {
  font-size: 100%;
  font-family: 'Lato', sans-serif;
  color: #3e3947;
  /*background-color: #FFFFFF !important;*/
}
a {
  color: #ef5350;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
a:hover{
  transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}
ul{
  list-style-type: none;
}
.container{
	margin-right:auto;
	margin-left:auto;
	padding-left:15px;
	padding-right:15px;
}
@media (min-width:768px){
	.container{width:750px;
		}
}
@media (min-width:992px){
	.container{
		width:970px;
		}
}
@media (min-width:1200px){
	.container{
		width:1170px;
		}
}
.container-fluid{
	margin-right:auto;
	margin-left:auto;
	padding-left:15px;
	padding-right:15px;
}

.row-nav {
  height: 5rem;
  width: 100%;
  position: fixed;
  background: #ffffff;
  border-bottom: 1px solid #E0E0E0;
  top: 0;
  z-index: 10;
}
.row-nav .wrapper {
  height: 100%;
}
.row-nav .btn-primary.btn-color {
  color: #ffffff;
  background: #1F8EED;
}
.row-nav .nav-li-items ul li {
  display: inline-block;
  margin: auto 1.4rem;
}
.row-nav .nav-li-items ul li a {
  color: #83888D;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  transition: color .3s ease;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  cursor: pointer;
  position: relative;
}
.row-nav .nav-li-items ul li a:hover {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #1F8EED;
}

.second-nav li a {
  font-size: 12px !important;
}

.row-nav.home {
  top: 0;
  position: absolute;
  border-bottom: none;
  background: transparent;
}
.row-nav.home .btn-primary.btn-color {
  background: #ffffff;
  color: #1F8EED;
}
.row-nav.home .nav-li-items ul li a {
  color: #ffffff;
}

.btn-circ {
  border-radius: 50px;
  overflow: hidden;
}

.btn {
  border: none;
  color: #fff;
  font-family: inherit;
  padding: 0.50rem 1.1rem;
  margin: 1rem 1.14rem;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: 0;
  position: relative;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

.btn-lg {
  padding: 1rem 4rem;
  font-size: 1rem;
  border-radius: 4px;
  font-weight: 700;
}

.btn-secondary {
  background: #ffffff !important;
  color: #1F8EED !important;
  border: 1px solid !important;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
}
.btn-circ {
    border-radius: 50px;
    overflow: hidden;
}
.btn-md {
    padding: 10px 16px;
    font-size: 16px;
    margin: auto 8px;
}
