article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #1a1a1a;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

body, html {
  background-color: #ffffff;
  font-size: 14px;
  overflow-x: hidden !important;
}

body {
  overflow-x: hidden !important;
}

*:focus {
  outline: none !important;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 960px) {
  .heading-wrapper {
    padding: 3em 16px !important;
  }
  .heading-wrapper h1 {
    font-size: 2rem !important;
  }
}
a {
  text-decoration: none;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 600px) {
  .container {
    width: 750px;
  }
}
@media screen and (min-width: 960px) {
  .container {
    width: 970px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1170px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1400px;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.btn-circ {
  border-radius: 50px;
  overflow: hidden;
}

.btn {
  border: none;
  color: #fff;
  font-family: inherit;
  padding: 0.50rem 1.1rem;
  margin: 1rem 1.14rem;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: 0;
  position: relative;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

.btn-lg {
  padding: 1rem 4rem;
  font-size: 1rem;
  border-radius: 4px;
  font-weight: 700;
}

.btn-secondary {
  background: #ffffff !important;
  color: #1F8EED !important;
  border: 1px solid !important;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
}

.row-nav {
  height: 10rem;
  width: 100%;
  border-bottom: 1px solid #E0E0E0;
  top: 0;
  z-index: 10;
}
.row-nav .wrapper {
  height: 100%;
}
.row-nav .btn-primary.btn-color {
  color: #ffffff;
  background: #00A786;
  border-radius: 4px;
}
.row-nav .btn-primary.btn-color:hover {
  background: #ffffff;
  color: #00A786;
}
@-moz-document url-prefix() {
  .row-nav .nav-li-items {
    margin-bottom: 16px;
  }
}
.row-nav .nav-li-items ul li {
  display: inline-block;
  margin: auto 1.4rem;
}
.row-nav .nav-li-items ul li a {
  color: #83888D;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  transition: color .3s ease;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  cursor: pointer;
  position: relative;
}
.row-nav .nav-li-items ul li a:hover {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #00A786;
}
@media screen and (min-width: 1440px) {
  .row-nav .nav-li-items ul li a {
    font-size: 14px;
  }
}

.poster-details {
  border-collapse: collapse;
  margin: 50px auto;
  width: 100%;
}
.poster-details .key {
  padding: 16px 2rem;
  width: 100%;
  font-family: "Varela Round", sans-serif;
  font-size: 1rem;
  color: #00A786;
  border-bottom: 1px solid #eee;
}
.poster-details .value:nth-child(odd) {
  background-color: rgba(0, 167, 134, 0.05);
}
.poster-details .value {
  padding: 16px 2rem;
  width: 100%;
  font-family: "Varela Round", sans-serif;
  font-size: 1rem;
  color: #373c46;
}
.poster-details .value div {
  text-overflow: ellipsis;
}

md-menu-item {
  height: 70px;
}
md-menu-item a {
  color: #83888D;
  text-transform: uppercase;
  font-size: 14px;
  padding: .5rem;
  font-weight: 500;
  text-decoration: none;
  transition: color .3s ease;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  cursor: pointer;
  position: relative;
}
md-menu-item a:hover {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #00A786;
}

#map {
  width: 100%;
  height: 300px;
}

.second-nav li a {
  font-size: 12px !important;
}

.row-nav.home {
  top: 0;
  position: absolute;
  border-bottom: none;
  background: transparent;
}
.row-nav.home .btn-primary.btn-color {
  background: #ffffff;
  color: #1F8EED;
}
.row-nav.home .nav-li-items ul li a {
  color: #ffffff;
}

.md-sidenav-left .header {
  height: 140px;
}
.md-sidenav-left ul li {
  margin: 12px 1.4rem;
}
.md-sidenav-left ul li a {
  color: #83888D;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  transition: color .3s ease;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  cursor: pointer;
  position: relative;
}
.md-sidenav-left ul li a:hover {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #00A786;
}

.btn-circ {
  border-radius: 50px;
  overflow: hidden;
}

.btn {
  border: none;
  color: #fff;
  font-family: inherit;
  padding: 0.50rem 1.1rem;
  margin: 1rem 1.14rem;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: 0;
  position: relative;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

.btn-lg {
  padding: 1rem 4rem;
  font-size: 1rem;
  border-radius: 4px;
  font-weight: 700;
}

.btn-secondary {
  background: #ffffff !important;
  color: #1F8EED !important;
  border: 1px solid !important;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
}

.ngview {
  position: relative;
  min-height: calc(100vh - 70px);
  z-index: 5;
  background: #ffffff;
}

.ngview.home {
  position: relative;
  top: 0;
  z-index: inherit;
}

footer {
  background: #191919;
  font-family: "Varela Round", sans-serif;
  position: relative;
  height: 370px;
}
footer p {
  text-align: center;
  font-size: 1rem;
  margin: 3rem auto 1rem;
  color: #9c9fa4;
}
footer p a {
  color: #00A786;
}
footer .container {
  max-width: 900px;
  padding-top: 5rem;
}
footer .container div {
  margin: 10px;
}
footer .container h3 {
  font-weight: 500;
  text-align: left;
  color: #d4d4d4;
}
footer .container p {
  text-align: left;
  font-size: 1rem;
  margin: 0.2rem auto;
  line-height: 23px;
}
footer .container a {
  color: #00A786;
  margin: 1rem auto;
  line-height: 23px;
}
footer .container ul {
  padding: 0;
}
footer .container ul li {
  display: inline-block;
  margin: auto 1rem;
  text-align: left;
  list-style: none;
  margin: 0;
}
footer .container .icons h3 {
  margin-bottom: 0;
}
footer .container .icons a {
  margin: .5rem 1rem;
  color: #d4d4d4;
  font-size: 2rem;
}
footer .container .icons a.facebook:hover {
  color: #3b5999;
}
footer .container .icons .twitter:hover {
  color: #55acee;
}
footer .container .icons .linkedin:hover {
  color: #0077B5;
}
footer .container .icons .dribble:hover {
  color: #ea4c89;
}
footer .container .icons .github:hover {
  color: #131418;
}

.fa-bars, .fa-times {
  font-size: 30px;
  float: left;
}

.fa-times {
  margin: 16px auto;
}

#section1 {
  min-height: calc(85vh - 120px);
  background: #11998e;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #11998e, #80CBC4, #80CBC4, #ffffff);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #11998e, #80cbc4, #80cbc4, #ffffff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+background: #11998e;  /* fallback for old browsers */
  color: #ffffff;
  overflow: hidden;
  position: relative;
}
#section1 .background {
  position: absolute;
  top: -80px;
  left: 50px;
}
#section1 .background h1 {
  font-size: 120px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  opacity: 0.15;
  z-index: 0;
  color: #00695C;
}
@media (max-width: 599px) {
  #section1 .background {
    width: 100%;
    top: 180px;
    left: 25px;
  }
  #section1 .background h1 {
    font-size: 92px;
  }
}
#section1 .s {
  z-index: 1;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding: 64px 0px;
  position: relative;
}
#section1 .s .leftwing {
  width: 100%;
  font-size: 32px;
  height: 50vh;
}
#section1 .s .leftwing .text h3 {
  margin: 0;
  font-size: 76px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
#section1 .s .leftwing .text h6 {
  margin: 0;
  font-size: 42px;
  color: white;
  font-family: "Montserrat", sans-serif;
}
#section1 .s .leftwing .text h4 {
  margin: 0;
  font-size: 58px;
  color: white;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 599px) {
  #section1 .s .leftwing .text {
    text-align: center;
    /* fallback for old browsers */
  }
}
#section1 .s .leftwing .car {
  position: absolute;
  width: 100%;
  margin: auto;
  top: 40px;
  font-family: "Montserrat", sans-serif;
  color: white;
  opacity: 1;
}
#section1 .s .leftwing .car h3 {
  font-size: 28px;
  padding: 0;
  margin: 0;
}
#section1 .s .leftwing .car p {
  font-size: 20px;
  margin: 0;
  padding: 0;
}
#section1 .s .rightwing {
  height: 50vh;
  overflow: hidden;
  width: 100%;
  border-radius: 15px;
}
#section1 .s .rightwing .image img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #90A4AE;
}
#section1 .mobile {
  height: 100%;
  background: #FF5F6D;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffc371, #ff5f6d);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#section1 .mobile h2 {
  font-size: 3rem;
  text-align: center;
}

@media (max-width: 599px) {
  #section1 {
    background: #11998e;
    /* fallback for old browsers */
  }
}
#section2 {
  padding: 2.5rem 0;
  background: #ffffff;
}
@media screen and (min-width: 1440px) {
  #section2 {
    padding: 10rem 0;
  }
}
#section2 .header-wrapper .main-subtitle {
  font-size: 16px;
  line-height: 16px;
  color: black;
  font-family: "Montserrat", sans-serif;
}
#section2 .header-wrapper .main-subtitle:before {
  content: "";
  display: inline-block;
  height: 3px;
  width: 16px;
  margin-right: 7px;
  background-color: #00A786;
  border-radius: 2px;
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}
#section2 .header-wrapper h1 {
  color: #373c46;
  max-width: 600px;
  font-size: 3rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
#section2 .content-wrapper {
  padding: 16px;
}
#section2 .content-wrapper p {
  color: #83888D;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-align: center;
  max-width: 800px;
  line-height: 28px;
}

#section3 {
  background: #f2f6f9;
  padding: 5rem 0;
}
#section3 .header-wrapper .card {
  background: #ffffff;
  min-height: 500px;
  padding: 3rem;
  box-shadow: 0 8px 29px rgba(123, 128, 222, 0.35);
  border-radius: 10px;
}
#section3 .header-wrapper .card h1 {
  max-width: 500px;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  color: #373c46;
}

.btn-primary.btn-color {
  color: #ffffff;
  background: #00A786;
  padding: .8rem 2rem;
  margin: 2rem auto;
}

.attraction-section {
  font-family: "Montserrat", sans-serif;
}
.attraction-section .header {
  font-size: 20px;
  font-weight: bold;
  color: #11998e;
  background-size: 120px 10px;
  width: 25%;
  text-align: center;
  margin-top: 15px;
}
.attraction-section .schedule-head {
  width: 100%;
  padding: 8px;
  background-color: #B2DFDB;
  margin-top: 15px;
}
.attraction-section .schedule-main {
  width: 100%;
  padding: 8px;
}
.attraction-section .schedule-main .desc {
  word-wrap: break-word;
}
.attraction-section .event-card {
  padding: 20px;
  text-align: center;
  margin: 100px 16px;
  width: 330px;
  font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 960px) {
  .attraction-section .event-card {
    padding: 16px;
    width: 100%;
  }
}
.attraction-section .event-card .headline {
  color: #373c46;
}
.attraction-section .event-card .headline h2 {
  font-size: 1.5rem;
}
.attraction-section .event-card .text {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
  line-height: 2rem;
  color: #9da6b8;
  font-weight: 300;
}

.submission-section {
  background: #ffffff;
  min-height: 60vh;
}
.submission-section form {
  margin: 3rem auto;
  padding: 2rem;
  background: #ffffff;
  width: 500px;
  max-width: 95%;
}

.loading-wrapper {
  height: 100vh;
  width: 100%;
  position: fixed;
  background: #eee;
  top: 0;
  left: 0;
  z-index: 10;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes pulse {
  50% {
    background: #ffffff;
  }
}
.loading {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 0.25rem solid #83888D;
  border-top-color: #373c46;
  animation: spin 1s infinite linear;
}
.loading--double {
  border-style: double;
  border-width: .67rem;
}

.coordinator-section .member-wrap img {
  height: 100%;
  width: 100%;
}

.coordinator-section .at-section__title {
  margin: 70px auto;
  color: #000;
  font-family: "Varela Round", sans-serif;
  color: #373c46;
  font-size: 2.3rem;
  font-weight: 300;
  line-height: 2.625rem;
  text-align: center;
}
.coordinator-section .at-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #FFF;
}
.coordinator-section .at-grid[data-column="1"] .at-column {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  flex-basis: 100%;
}
.coordinator-section .at-grid[data-column="2"] .at-column {
  width: 50%;
  max-width: 50%;
  min-width: 50%;
  flex-basis: 50%;
}
.coordinator-section .at-grid[data-column="3"] .at-column {
  width: 33.33333%;
  max-width: 33.33333%;
  min-width: 33.33333%;
  flex-basis: 33.33333%;
}
.coordinator-section .at-grid[data-column="4"] .at-column {
  width: 25%;
  max-width: 25%;
  min-width: 25%;
  flex-basis: 25%;
}
.coordinator-section .at-grid[data-column="5"] .at-column {
  width: 20%;
  max-width: 20%;
  min-width: 20%;
  flex-basis: 20%;
}
.coordinator-section .at-grid[data-column="6"] .at-column {
  width: 16.66667%;
  max-width: 16.66667%;
  min-width: 16.66667%;
  flex-basis: 16.66667%;
}
.coordinator-section .at-grid[data-column="7"] .at-column {
  width: 14.28571%;
  max-width: 14.28571%;
  min-width: 14.28571%;
  flex-basis: 14.28571%;
}
.coordinator-section .at-grid[data-column="8"] .at-column {
  width: 12.5%;
  max-width: 12.5%;
  min-width: 12.5%;
  flex-basis: 12.5%;
}
.coordinator-section .at-grid[data-column="9"] .at-column {
  width: 11.11111%;
  max-width: 11.11111%;
  min-width: 11.11111%;
  flex-basis: 11.11111%;
}
.coordinator-section .at-column {
  z-index: 0;
  position: relative;
  background: #FFF;
  box-shadow: 0 0 0 1px #E2E9ED;
  padding: 10px;
  box-sizing: border-box;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease;
}
.coordinator-section .at-column:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.coordinator-section .at-column:hover {
  z-index: 1;
  box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
}
.coordinator-section .at-column:hover .at-social {
  margin: 16px 0 0;
  opacity: 1;
}
@media (max-width: 800px) {
  .coordinator-section .at-column {
    width: 50% !important;
    max-width: 50% !important;
    min-width: 50% !important;
    flex-basis: 50% !important;
  }
}
@media (max-width: 600px) {
  .coordinator-section .at-column {
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
    flex-basis: 100% !important;
  }
}
.coordinator-section .at-user {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translate(0, -50%);
  text-align: center;
}
.coordinator-section .at-user__avatar {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin: 0 auto 20px;
  overflow: hidden;
}
.coordinator-section .at-user__avatar img {
  display: block;
  width: 100%;
  max-width: 100%;
}
.coordinator-section .at-user__name {
  color: #313435;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.625rem;
}
.coordinator-section .at-user__title {
  color: #6F808A;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  line-height: 2.375rem;
}
.coordinator-section .at-social {
  margin: 0 0 -18px;
  opacity: 0;
  transition: margin 0.2s ease, opacity 0.2s ease;
}
.coordinator-section .at-social__item {
  display: inline-block;
  margin: 0 10px;
}
.coordinator-section .at-social__item a {
  display: block;
  color: #83888D;
  font-family: "PT Sans", sans-serif;
}
.coordinator-section .at-social__item a i {
  font-size: 20px;
}
.coordinator-section .at-social__item svg {
  fill: #515F65;
  display: block;
  height: 18px;
  transition: fill 0.2s ease;
}
.coordinator-section .at-social__item svg:hover {
  fill: #788D96;
}
.coordinator-section .container {
  max-width: 1170px;
  width: 90%;
  margin: 100px auto;
  padding: 0 20px;
  box-sizing: border-box;
  transform-origin: top center;
  transform: scale(1);
}

.demos-section {
  padding-top: 40px;
  position: relative;
  width: 100%;
  padding-bottom: 50px;
  overflow: hidden;
}
.demos-section .head-row {
  min-height: 20vh;
}
.demos-section .head-row h1 {
  font-family: "Montserrat", sans-serif;
  color: #11998e;
  font-size: 40px;
}
.demos-section .list {
  background-color: white;
  opacity: 0.7;
  width: 100%;
  position: fixed;
  margin-bottom: 20px;
}
.demos-section .list ul li {
  display: inline-block;
  list-style-type: none;
  padding: 0 20px;
}
.demos-section .list ul li a {
  font-size: 18px;
}
.demos-section .photos-row {
  min-height: 100vh;
  width: 90%;
  margin: 0 auto;
}
.demos-section .photos-row .photo-container {
  margin: 16px 16px 0px 0px;
  height: 30vh;
}
.demos-section .photos-row .photo-container img {
  height: 30vh;
  max-width: 100%;
  border-radius: 10px;
  position: relative;
  top: 0;
  transition: top ease 0.3s;
  cursor: pointer;
}
.demos-section .photos-row .photo-container img:hover {
  top: -5px;
  cursor: pointer;
}

.instruction {
  font-family: "Varela Round", sans-serif;
  max-width: 800px;
  margin: auto;
}
.instruction h2 {
  font-size: 2rem;
  margin: 3rem auto;
}
.instruction ul li {
  font-size: 1rem;
  font-size: 1.1rem;
  line-height: 2rem;
  color: #83888D;
  font-family: "Open Sans", sans-serif;
}
.instruction ul li b {
  color: #373c46;
}

.valign-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.coming-soon-page {
  min-height: 80vh;
  vertical-align: center;
  background: #11998e;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #38ef7d, #11998e);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.coming-soon-page .coming-div {
  width: 100%;
}
.coming-soon-page .coming-div h1 {
  text-align: center;
  font-size: 3rem;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
}

.admin-container {
  width: 100%;
  margin: 80px auto;
}
.admin-container .admin-card {
  padding-top: 50px;
  width: 20%;
  layout-align: center;
  margin: 0 auto;
}
