@import "compass";
@import "partials/variable";
@import "partials/normalize";
body,html{
  background-color:$body-backgorund;
  font-size: 14px;
  overflow-x: hidden !important;
}



body{
  overflow-x: hidden !important;
}
*:focus {
    outline: none !important;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media screen and (max-width: $md-break) {
  .heading-wrapper{
    padding: 3em 16px !important;
    h1{
      font-size: 2rem !important;
    }
  }
}
a{
  text-decoration: none;
}
// container from bootstrap
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (min-width: $xs-break) {
      width: 750px;
  }
  @media screen and (min-width: $md-break) {
    width: 970px;
  }
  @media screen and (min-width: $lg-break) {
    width: 1170px;
  }
  @media screen and (min-width: $xl-break) {
    width: 1400px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

// index.html style starts from here
.btn-circ {
  border-radius: 50px;
  overflow: hidden;
}
.btn {
  border: none;
  color: #fff;
  font-family: inherit;
  padding: 0.50rem 1.1rem;
  margin: 1rem 1.14rem;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: 0;
  position: relative;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
.btn-lg{
  padding: 1rem 4rem;
  font-size: 1rem;
  border-radius: 4px;
  font-weight: 700;
}
.btn-secondary{
  background: #ffffff !important;
  color: #1F8EED !important;
  border: 1px solid !important;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}
.row-nav{
  height: 10rem;
  width: 100%;
  border-bottom: 1px solid #E0E0E0;
  // position: fixed;
  top: 0;
  z-index: 10;
  .wrapper{
    height: 100%;
  }
  .btn-primary.btn-color {
    color: $white;
    background: $hover2;
    border-radius: 4px;
    &:hover{
      background: $white;
      color: $hover2;
    }
  }
@-moz-document url-prefix() {
  .nav-li-items{
    margin-bottom: 16px;
  }
}
  .nav-li-items{
    ul li{
      display: inline-block;
      margin: auto 1.4rem;
      a{
        color: $aluminium;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;
        text-decoration: none;
        transition: color .3s ease;
        letter-spacing: 1px;
        font-family: $montserrat;
        line-height: 1.5;
        cursor: pointer;
        position: relative;
        // text-shadow: 2px 2px 1px rgba(0,0,0,.08);
        &:hover{
          @include transition(all 0.3s ease-in-out);
          color: $hover2;
        }
        @media screen and (min-width: 1440px) {
          font-size: 14px;
        }
      }
    }
  }
}

//getsubmission css starts here
  .poster-details{
    border-collapse: collapse;
    margin: 50px auto;
    width:100%;
    .key{
      padding: 16px 2rem;
      width: 100%;
      font-family: $varela;
      font-size: 1rem;
      color:$hover2;
      border-bottom: 1px solid #eee;
    }
    .value:nth-child(odd) {
      background-color:rgba(0, 167, 134,0.05);
    }
    .value{
      padding: 16px 2rem;
      width: 100%;
      font-family: $varela;
      font-size: 1rem;
      color:$tundora;
      div{
        text-overflow: ellipsis;
      }
    }

  }
//getsubmission css ends here
md-menu-item{
  height: 70px;
  a{
    color: $aluminium;
    text-transform: uppercase;
    font-size: 14px;
    padding: .5rem;
    font-weight: 500;
    text-decoration: none;
    transition: color .3s ease;
    letter-spacing: 1px;
    font-family: $montserrat;
    line-height: 1.5;
    cursor: pointer;
    position: relative;
    // text-shadow: 2px 2px 1px rgba(0,0,0,.08);
    &:hover{
      @include transition(all 0.3s ease-in-out);
      color: $hover2;
    }
  }
}
#map {
    width:100%;
    height: 300px;
}
.second-nav  li a{
  font-size: 12px !important;
}
.row-nav.home{
  top:0;
  position: absolute;
  border-bottom: none;
  background: transparent;
    .btn-primary.btn-color {
      background: $white;
      color: $btn-color;
    }
  .nav-li-items{
    ul li{
      a{
        color: $white;
      }
    }
  }
}
.md-sidenav-left{
  .header{
    height: 140px;
  }
  ul li{
    // display: inline-block;
    margin: 12px 1.4rem;
    a{
      color: $aluminium;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 500;
      text-decoration: none;
      transition: color .3s ease;
      letter-spacing: 1px;
      font-family: $montserrat;
      line-height: 1.5;
      cursor: pointer;
      position: relative;
      // text-shadow: 2px 2px 1px rgba(0,0,0,.08);
      &:hover{
        @include transition(all 0.3s ease-in-out);
        color: $hover2;
      }
    }
  }
}
.btn-circ {
  border-radius: 50px;
  overflow: hidden;
}
.btn {
    border: none;
    color: #fff;
    font-family: inherit;
    padding: 0.50rem 1.1rem;
    margin: 1rem 1.14rem;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: 0;
    position: relative;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.btn-lg{
  padding: 1rem 4rem;
  font-size: 1rem;
  border-radius: 4px;
  font-weight: 700;
}
.btn-secondary{
  background: #ffffff !important;
  color: #1F8EED !important;
  border: 1px solid !important;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}
.ngview{
  position: relative;
  min-height: calc(100vh - 70px);
  z-index: 5;
  background: $body-backgorund;
}
.ngview.home{
  position: relative;
  top: 0;
  z-index: inherit;
}
footer{
  background: $footer;
  font-family: $varela;
  position: relative;
  height: 370px;
  p{
    text-align: center;
    font-size: 1rem;
    margin: 3rem auto 1rem;
    color: #9c9fa4;
    a{
      color: $hover2;
    }
  }
  .container{
    // border-top: 1px solid #dadada;
    max-width: 900px;
    // margin-top: 40px;
    padding-top:5rem;
    div{
      margin: 10px;
    }
    h3{
      font-weight: 500;
      text-align: left;
      color: #d4d4d4;
    }
    p{
      text-align: left;
      font-size: 1rem;
      margin:.2rem auto ;
      line-height: 23px;
    }
    a{
      color: $hover2;
      margin: 1rem auto;
      line-height: 23px;
    }
    ul {
      padding: 0;
        li {
        display: inline-block;
        margin: auto 1rem;
        text-align: left;
        list-style: none;
        margin: 0;
      }
    }
    .icons{
      h3{
        margin-bottom: 0;
      }
      a{
        margin: .5rem 1rem;
        color: #d4d4d4;
        font-size: 2rem;
      }
      a.facebook:hover{
        color: #3b5999;
      }
      .twitter:hover{
        color:#55acee;
      }
      .linkedin:hover{
        color: #0077B5;
      }
      .dribble:hover{
        color: #ea4c89;
      }
      .github:hover{
        color: #131418;
      }
    }
  }
}
// .home htmls starts from here
.fa-bars, .fa-times{
  font-size: 30px;
  float: left;
}
.fa-times{
  margin: 16px auto;
}



#section1{
  min-height: calc(85vh - 120px);
  background: #11998e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #11998e,#80CBC4,#80CBC4,#ffffff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #11998e,#80CBC4,#80CBC4, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+background: #11998e;  /* fallback for old browsers */


  //max-height: 620px;

  color: $white;
  overflow: hidden;
  position: relative;
  .background
  {
    position: absolute;
    top:-80px;
    left:50px;
    h1
    {
      font-size: 120px;
      text-align: center;
      font-family: $montserrat;
      opacity: 0.15;
      z-index: 0;
      color: #00695C;
    }
  }
  @media (max-width: 599px) {
    .background {
      width: 100%;
      top:180px;
      left:25px;
      h1{
      font-size:92px;
    }
  }
  }
  .s{
      z-index: 1;
      width: 90%;
      height: 100%;
      margin: 0 auto;
      padding: 64px 0px;
      position: relative;
      .leftwing
      {
        //padding:0px 16px 0px 16px;
        width: 100%;
        font-size: 32px;
        height:50vh;
        .text
        {
          h3
          {
            margin:0;
            font-size: 76px;
            color:white;
            font-family: $montserrat ;
            font-weight: bold;
            // text-align: center;
            //opacity: 0.8;
          }
          h6
          {
            margin:0;
            font-size: 42px;
            color:white;
            font-family: $montserrat ;
            // text-align: center;
            //opacity: 0.8;
          }
          h4
          {
            margin:0;
            font-size: 58px;
            color:white;
            font-family: $montserrat ;
            // text-align: center;
            //opacity: 0.8;
          }
        }
        @media (max-width: 599px) {
          .text{
          text-align: center; /* fallback for old browsers */
        }}
      .car
      {
        position:absolute;
        width:100%;
        margin: auto;
        top:40px;
        font-family: $montserrat ;
        color:white;
        opacity:1;
        h3
        {
            font-size: 28px;
            padding: 0;
            margin: 0;
        }
        p{
          font-size: 20px;
          margin: 0;
          padding: 0;
        }
      }
      }
      .rightwing
      {
        height:50vh;
        overflow: hidden;
        width:100%;
        border-radius: 15px;
        .image
        {
          img{
            height:100%;
            width:100%;
            border-radius: 15px;
            box-shadow: 5px 5px 10px #90A4AE;
          }
        }
      }
  }

  // .img-carousel{
  //   height: 100%;
  //
  //   ul{
  //     height: 100%;
  //     width: 1000px;
  //     // overflow: hidden;
  //     li{
  //       // display:inline;
  //       width: 100%;
  //       // border: 2px solid green;
  //       // overflow: hidden;
  //       img{
  //         vertical-align: middle;
  //         position: absolute;
  //         top: 0;
  //         width: 100%;
  //         height: auto;
  //         padding: 16px;
  //
  //       }
  //     }
  //   }
  // }
  // .text-wrapper{
  //   position: absolute;
  //   top: 0;
  //   height: calc(100vh - 70px);
  //   width: 100%;
  //   // background:
  //   //   /* top, transparent red, faked with gradient */
  //   //   linear-gradient(
  //   //     120deg,
  //   //     rgba(0, 0, 0, 0.6) 0%,
  //   //     rgba(0, 0, 0, 0.6) 75%
  //   //   );
  //   p{
  //     max-width: 600px;
  //   }
  // }
  // .title-wrapper{
  //   color: $white;
  //   text-align: center;
  //   overflow: hidden;
  //   font-family: $montserrat;
  //   position: absolute;
  //   top: 0;
  //   width: 100%;
  //   height: calc(100vh - 140px);
  //   max-height: 620px;
  //   h2{
  //     font-size: 3rem;
  //   }
  //   .btn-color{
  //     background: $hover2;
  //     padding: .8rem 1.6rem;
  //     border-radius: 4px;
  //   }
  // }
  .mobile{
    height: 100%;
    background: #FF5F6D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    h2{
      font-size: 3rem;
      text-align: center;
    }

  }
}
@media (max-width: 599px) {
  #section1{
  background: #11998e;  /* fallback for old browsers */
}}
// #triangle-bottomright {
// 	width: 0;
// 	height: 0;
//   border-bottom: 5000px solid  $white;
// 	border-left: 800px solid transparent;
//   @media screen and (min-width: 1440px) {
//     border-left: none;
//   }
//   .text{
//     position: relative;
//     top: 2400px;
//     width: 350px;
//     height: 500px;
//     left: -360px;
//     overflow: hidden;
//     @media screen and (min-width: 1440px) {
//       left: -400px;
//     }
//     @media screen and (min-width: 1600px) {
//       left: -600px;
//     }
//     @media screen and (min-width: 2000px) {
//       left: -700px;
//     }
//     .wrapper{
//       box-shadow: 0 8px 29px rgba(123, 128, 222, 0.35);
//       width: 300px;
//       border-radius: 8px;
//       margin: 20px auto;
//     }
//     h3{
//       font-family: 'Montserrat', sans-serif;
//       font-weight: bold;
//       color: $tundora;
//       font-size: 2rem;
//     }
//     li{
//       display:inline;
//       position: absolute;
//       width: 100%;
//       left: 0;
//       h3{
//         font-family: 'Montserrat', sans-serif;
//         font-weight: bold;
//         color: $tundora;
//         text-align: left;
//         font-size: 1.5rem;
//       }
//       p{
//         font-family: 'Open Sans', sans-serif;
//       margin: 0;
//       padding: 0;
//       font-size: 1.2rem;
//       text-align: left;
//       line-height: 27px;
//       color: $aluminium;
//       font-weight: 300;
//       }
//     }
//   }
// }
#section2{
  padding: 2.5rem 0;
  @media screen and (min-width: 1440px) {
    padding: 10rem 0;
  }
  background: $body-backgorund;
  .header-wrapper{
    .main-subtitle{
      font-size: 16px;
      line-height: 16px;
      color: black;
      font-family:$montserrat;
      &:before{
        content: "";
        display: inline-block;
        height: 3px;
        width: 16px;
        margin-right: 7px;
        background-color: #00A786;
        border-radius: 2px;
        -webkit-transform: translateY(-4px);
        -ms-transform: translateY(-4px);
        transform: translateY(-4px);
      }
    }
    h1{
      color: $tundora;
      max-width: 600px;
      font-size: 3rem;
      text-align: center;
      font-family: $montserrat;
    }
  }
  .content-wrapper{
    padding: 16px;
  p{
      color: $aluminium;
      font-family: $montserrat;
      font-size: 16px;
      text-align: center;
      max-width: 800px;
      line-height: 28px;
    }
  }
}
#section3{
  background: #f2f6f9;
  padding: 5rem 0;
  .header-wrapper{
    .card{
      background: $white;
      min-height: 500px;
      padding: 3rem;
        box-shadow: 0 8px 29px rgba(123, 128, 222, 0.35);
        border-radius: 10px;
        h1{
          max-width: 500px;
          font-size: 3rem;
          font-family: $montserrat;
          color:$tundora;
        }
    }
  }
}
.btn-primary.btn-color {
  color: $white;
  background: $hover2;
  padding: .8rem 2rem;
  margin: 2rem auto;
}
// attraction.html starts form here
.attraction-section{
  font-family: $montserrat;
.header{
  font-size: 20px;
  font-weight: bold;
  color:#11998e;
  // background-color: #38ef7d;
  background-size: 120px 10px;
  width:25%;
  text-align: center;
  margin-top:15px;


}

.schedule-head{
  width: 100%;
  padding: 8px;
  background-color: #B2DFDB;
  margin-top: 15px;
}

.schedule-main{
  width: 100%;
  padding: 8px;

  .desc{
    // max-width: 80%;
    word-wrap: break-word;

  }
}
  .event-card{
    padding: 20px;
    text-align: center;
    margin: 100px 16px;
    width: 330px;
    @media screen and (max-width: $md-break) {
      padding:16px;
      width: 100%;
    }
    font-family: $montserrat;
    .headline{
      color:$tundora;
      h2{
        font-size: 1.5rem;
      }
    }
    .text{
      font-family:$open-sans;
      margin: 0;
      padding: 0;
      font-size: 1.1rem;
      line-height:2rem;
      color: #9da6b8;
      font-weight: 300;
    }
  }
}
// submission.html starts from here
// submission.html starts from here
.submission-section{
  background: $white;
  min-height: 60vh;
  form{
    margin: 3rem auto;
    padding: 2rem;
    background: $white;
    width: 500px;
    max-width: 95%
  }
}




// loader
.loading-wrapper{
  height: 100vh;
  width: 100%;
  position: fixed;
  background: #eee;
  top: 0;
  left: 0;
  z-index: 10;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  50% {
    background: $white;
  }
}
.loading {
    border-radius: 50%;
    width: $base-line-height;
    height: $base-line-height;
    border: .25rem solid $aluminium;
    border-top-color: $tundora;
    animation: spin $spin-duration infinite linear;
  &--double {
    border-style: double;
    border-width: .67rem;
  }
}
// students.html starts frorm here

.coordinator-section{
  .member-wrap{
    img{
      height:100%;
      width: 100%;
      //border-radius: 50%;
    }
  }
}

.coordinator-section{
  $prefix: at;
$totalColumns: 9;

// Custom Prefix
.#{$prefix} {

  // Section
  &-section {
    &__title {
      margin: 70px auto;
      color: #000;
      font-family: $varela;
      color: $tundora;
      font-size: 2.3rem;
      font-weight: 300;
      line-height: 2.625rem;
      text-align: center;
    }
  }

  &-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: #FFF;
    // border: 1px solid #E2E9ED;

    @for $i from 1 through $totalColumns {
      &[data-column="#{$i}"] {
        .#{$prefix}-column {
          width: percentage( 1 / $i );
          max-width: percentage( 1 / $i );
          min-width: percentage( 1 / $i );
          flex-basis: percentage( 1 / $i );
        }
      }
    }
  }

  &-column {
    z-index: 0;
    position: relative;
    background: #FFF;
    box-shadow: 0 0 0 1px #E2E9ED;
    padding: 10px;
    box-sizing: border-box;
    transition: box-shadow 0.2s ease,
                transform 0.2s ease,
                z-index 0s 0.2s ease;

    &:before {
      content: "";
      display: block;
      padding-top: 100%;
    }

    &:hover {
      z-index: 1;
      box-shadow: 0 8px 50px rgba(#000, 0.2);
      transform: scale(1.05);
      transition: box-shadow 0.2s ease,
                  transform 0.2s ease,
                  z-index 0s 0s ease;

      .#{$prefix}-social {
        margin: 16px 0 0;
        opacity: 1;
      }
    }

    @media (max-width: 800px) {
      width: 50% !important;
      max-width: 50% !important;
      min-width: 50% !important;
      flex-basis: 50% !important;
    }

    @media (max-width: 600px) {
      width: 100% !important;
      max-width: 100% !important;
      min-width: 100% !important;
      flex-basis: 100% !important;
    }
  }

  &-user {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translate(0, -50%);
    text-align: center;

    &__avatar {
      width: 140px;
      height: 140px;
      border-radius: 50%;
      margin: 0 auto 20px;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
        max-width: 100%;
      }
    }

    &__name {
      color: #313435;
      font-family: $montserrat;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 2.625rem;
    }

    &__title {
      color: #6F808A;
      font-family: $montserrat;
      font-size: 0.875rem;
      line-height: 2.375rem;
    }
  }

  &-social {
    margin: 0 0 -18px;
    opacity: 0;
    transition: margin 0.2s ease,
                opacity 0.2s ease;

    &__item {
      display: inline-block;
      margin: 0 10px;

      a {
        display: block;
        color: $aluminium;
        font-family: $pt-sans;
        i{
          font-size: 20px;
        }
      }

      svg {
        fill: #515F65;
        display: block;
        height: 18px;
        transition: fill 0.2s ease;

        &:hover {
          fill: #788D96;
        }
      }
    }
  }
}
.container {
  max-width: 1170px;
  width: 90%;
  margin: 100px auto;
  padding: 0 20px;
  box-sizing: border-box;
  transform-origin: top center;
  transform: scale(1);
}
}
.demos-section{
  padding-top:40px;position: relative;
  width:100%;
  // background: #11998e;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to right, #11998e,#80CBC4,#80CBC4,#ffffff);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to right, #11998e,#80CBC4,#80CBC4, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Sa*/
  padding-bottom:  50px;
  overflow: hidden;

  .head-row{
    min-height: 20vh;
    // background: #e53935;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #b71c1c, #e53935);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #b71c1c, #e53935); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    // opacity: 0.3;
    h1{
      font-family:$montserrat;
      color: #11998e;
      font-size: 40px;
    }
  }
  .list{
    background-color: white;opacity:0.7;
    width:100%;
    position: fixed;
    margin-bottom: 20px;
    ul{
      li{
        display: inline-block;
        list-style-type: none;
        padding:0 20px;

        a{
          font-size: 18px;

        }
      }
    }
  }
  .photos-row{
    min-height: 100vh;
    // border: 10px solid green;
    //background-color: $white;
     //margin: 100px;
    width: 90%;
    margin: 0 auto;


    .photo-container{
      margin: 16px 16px 0px 0px;
      height: 30vh;

      img{
        height: 30vh;
        max-width: 100%;
        //border: 1px solid #11998e;
        border-radius: 10px;
        //border: 4px solid (linear-gradient(to right, #b71c1c, #e53935));
        position: relative;
        top: 0;
        transition: top ease 0.3s;
        cursor: pointer;

        &:hover{
          top: -5px;
          cursor: pointer;
        }
      }

    }
  }
}

// download.html

.instruction{
  font-family: $varela;
  max-width: 800px;
  margin: auto;
  h2{
    font-size: 2rem;
    margin: 3rem auto;
  }
  ul{
    li{
      font-size: 1rem;
      font-size: 1.1rem;
      line-height: 2rem;
      color: $aluminium;
      font-family: $open-sans;
      b{
        color:$tundora;
      }
    }
  }
}

.valign-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.coming-soon-page{
  min-height: 80vh;
  vertical-align: center;
  background: #11998e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  .coming-div{
    width: 100%;

    h1{
      text-align: center;
      font-size: 3rem;
      // color: $tundora;
      color: $white;
      font-family: $open-sans;
    }
  }


}

.admin-container{

  width: 100%;
  margin: 80px auto;
  .admin-card{
    padding-top: 50px;
    width: 20%;
    layout-align: center;
    margin: 0 auto;
  }
}

//.test{
//  border: 1px solid red;
//}
