// loader
$base-line-height: 40px;
$white: rgb(255,255,255);
$off-white: rgba($white, 0.2);
$spin-duration: 1s;
$pulse-duration: 750ms;
// social color
$behance:#1769ff;
$background:#1a1a1a;
$codgray:#171717;
$dribble:#ea4c89;
$facebook:#3b5998;
$instagram:#405de6;
$linkedin:#0077b5;
$tomato:#ed4040;
$twitter:#55acee;
$white:#ffffff;
// header color
$tundora:#373c46;

// subheader color
$brightgrey:#575963;
// paragraph color
$greychateau:#9DA3AD ;
$aluminium:#83888D;
// footer
$footer:#191919;
// btn-color
$btn-color:#1F8EED;
// menu overlay
$body-backgorund: #ffffff;
$color-background: #F5F5F5;
$color-main: #F5F5F5;
$color-hamburger:#212121;
$color-active: #212121;
$color-link: #FFF;
$button-height: 27px;
$button-width: 35px;
// nav color
$link:#7b8b8e;
$hover:#7b80de;
$hover2:#00A786;
//responsive breaks
$xs-break:600px;
$sm-break:768px;
$md-break:960px;
$lg-break:1280px;
$xl-break:1440px;
// fonts
$varela: 'Varela Round', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$pt-sans: 'PT Sans', sans-serif;
$titanium:'Titillium Web', sans-serif;
$lato: 'Lato', sans-serif;
$montserrat:  'Montserrat', sans-serif;
