<div class="admin-container test" layout-align="center center" layout-wrap flex="75">
  <md-card layout="column" class="admin-card test" layout-align="center center" md-whiteframe-5dp flex="20">
    <md-input-container>
      <label>Username</label>
      <input type="text" ng-model="admin.username">
    </md-input-container>

    <md-input-container>
      <label>Password</label>
      <input type="password" ng-model="admin.pass">
    </md-input-container>

    <md-button ng-click="checkAdmin(admin)" class="btn btn-color btn-circ btn-primary">LOGIN</md-button>
  </md-card>
</div>
