<div class="container demos-section">
    <div class="head-row" layout="row" layout-align="center center">
      <h1>PHOTO GALLERY</h1>
    </div>
    <!-- <div class="list left test" >
      <ul class="gallery-list " >
          <li ><a href="" >Harvard Alumni Mixer At Ricks</a></li>
          <li ><a href="" >HCI Presidential Lunch</a></li>
          <li ><a href="" >HCI Website School</a></li>
      </ul>
    </div> -->
    <div class="photos-row center  " layout="row" layout-align="center center " layout-wrap layout-xs="column" >
      <div class="photo-container center" flex-gt-sm="24" ng-repeat="photo in photoGallery">
        <div class="photo-col ">
          <img src={{photo.image}} alt="" md-whiteframe="10">
        </div>
      </div>
    </div>
</div>
