<div class="container attraction-section">
  <div layout="column" class="instruction" layout-align="center center">
    <div class="headline">
      <h2>Poster Instructions</h2>
    </div>
    <ul>
      <li>You must register your poster/project prior to submission</li>
      <li>Keep minimum size of heading as 32 pts and body text as 28 pts</li>
      <li>
        Background templates is an image , do not compress
        it otherwise it will get pixilated and your poster would look
        bad.
      </li>
      <li>
        Remember, people will not remember everything from
        the poster, so it will be good to fix a visual hierarchy
        of information on the poster and put as many images to make
        your poster visually appealing.
      </li>
      <li>
        The submission will be in the form of <b>.pdf</b> format so please
        save it accordingly
      </li>
      <li>
        This is just a sample format you may place the parts accordinly if
        your poster components do not along with the ones mentioned(but no changes should be made to the
        template design)
      </li>
      <li>
        Please write the name of your department where the word <b>DEPARTMENT</b> is mentioned
        (i.e. DEPARTMENT IITD, for eg. CIVIL ENGINEERING IITD).
      </li>
    </ul>
  </div>
  <div layout="row" layout-wrap layout-align="center center">
    <div class="event-card md-whiteframe-1dp" layout="column" layout-align="start center" layout-padding>
      <div class="headline">
        <h2>Poster Template</h2>
      </div>
      <div class="text">
        <p>
          Download the format of the Poster from here
        </p>
      </div>
      <a href="files/ppt.pptx" download  class="btn btn-primary btn-circ btn-color">Download</a>
    </div>
    <div class="event-card md-whiteframe-1dp" layout="column" layout-align="start center" layout-padding>
      <div class="headline">
        <h2>Poster Instructions</h2>
      </div>
      <div class="text">
        <p>
          Download the instructions for the posters here
        </p>
      </div>
      <a href="files/poster1.pdf" download  class="btn btn-primary btn-circ btn-color">Download</a>
    </div>
  </div>
</div>
