
<div class="coordinator-section">
  <div class="container">
    <div ng-repeat="(key, data) in facultycoordinators track by $index">
      <div class="at-section" >
        <div class="at-section__title">{{key}}</div>
      </div>
      <div class="at-grid" layout-align="center center" data-column="4">
        <div class="at-column" ng-repeat="coordinator in data">
          <div class="at-user">
            <div class="at-user__avatar"><img src="{{coordinator.img}}"/></div>
            <div class="at-user__name">{{coordinator.name}}</div>
            <div class="at-user__title">{{coordinator.email}}</div>
            <!-- <ul class="at-social">
              <li class="at-social__item">
                <! <a href="">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                  {{coordinator.contact}}
                </a> -->
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
