<div class="container">
  <div class="md-whiteframe-1dp">
    <div  flex class="poster-details" layout="column" layout-align="center center">
      <div layout="row" class="key">
        <div flex="25">Name</div>
        <div flex="25">Title</div>
        <div flex="25">Email</div>
        <div flex="25">Filename</div>
      </div>
      <div flex layout="row" class="value" ng-repeat = "data in submissionList">
        <div flex="25">{{data.name}}</div>
        <div flex="25">{{data.title}}</div>
        <div flex="25">{{data.email}}</div>
        <div flex="25"><a href="{{data.filename}}"></a></div>
      </div>
   </div>
  </div>
</div>
