<section id="section1">

  <div class=" s  "  layout="row" layout-align="center center" layout-xs="column" layout-sm="column">
      <div class="leftwing" flex-gt-sm="60" layout-align="center center">
        <div class="text "  >
          <h3 class="">Open House 2018</h3>
          <h6>April 21st</h6>
          <h4>Welcome</h4>
        </div>
        <ul rn-carousel  rn-carousel-auto-slide  rn-carousel-buffered layout-xs="column" class="" style="height:100%">
           <li ng-repeat = "data in carouselImages" layout-align="center" class="">
           <div class="car" layout="column"  layout-xs="column" layout-sm="column">
             <h3>{{data.title}}</h3>
             <p>{{data.description}}</p>
           </div>
           </li>
        </ul>
      </div>
      <div class="  rightwing" flex-gt-sm="40" hide-xs hide-sm >

          <ul rn-carousel  rn-carousel-auto-slide  rn-carousel-buffered layout-xs="column" class="" style="height:100%">
             <li ng-repeat = "data in carouselImages" class="">
             <div layout="row" layout-align="center" layout-xs="column" layout-sm="column">
               <div class="image " >
                  <img src="{{data.img}}" style="max-width:100%">
               </div>
             </div>
             </li>
          </ul>

      </div>
    </div>

    <div class="background" hide-xs hide-sm>
      <h1>Open House</h1>
    </div>
</section>

<section id="section2" class="  container">
  <div class="header-wrapper" layout="column" layout-align="center center">
    <p class="main-subtitle">What is open house?</p>
    <h1>Innovation at its best at IIT Delhi</h1>
  </div>
  <div class="content-wrapper" layout="row" layout-align="center center">
    <p>
      For the fourteenth consecutive year Indian Institute of Technology (IIT-Delhi) is all set to exhibit an extensive collection of innovative research and product development projects at its annual open house, Open House 2018. Scheduled on Saturday April 21st in the premises of IIT Delhi, Open House 2018 will be a one - day event dedicated to provide an insight into path-breaking research work, student projects and the numerous advanced facilities and laboratories available in IIT Delhi. Continuing the tradition of last ten years, this year too Open House promises to be a real treat to the eyes of the connoisseurs by presenting finest of the projects to technology enthusiasts, students and colleagues from other technical Institutes, school children, industries and general public.
    </p>
  </div>
</section>
<section id="section3">
  <div class="container">
    <div class="header-wrapper" layout="row" layout-align="center center">
      <div class="card"layout="column" layout-align="center center">
        <h1>Welcome and seize this opportunity to be part of this year's open house !</h1>
        <a href="" ng-click="register()" class="btn btn-primary btn-circ btn-color">Register Now</a>
      </div>
    </div>
  </div>
</section>
<div id="map" ng-if="isPath('/')"></div>
