<div class="container attraction-section ">

  <div class="" layout="row" layout-align="center center">
    <div class="header" layout-align="center center">
      Main Events
    </div>
  </div>

  <div class="schedule-head" layout="row" md-whiteframe="1">
    <div class="" flex="25">
      Timings
    </div>
    <div class="" flex="75">
      Description
    </div>
  </div>

  <div class="schedule-main" layout="row" ng-repeat="data in todos" >
    <div class="" flex="25">
      {{data.title}}
    </div>
    <div class="desc" flex="75">
      {{data.description}}
    </div>
  </div>

  <div class="" layout="row" layout-align="center center">
    <div class="header" layout-align="center center">
      Special Events
    </div>
  </div>

  <div class="schedule-head" layout="row" md-whiteframe="1">
    <div class="" flex="25">
      Timings
    </div>
    <div class="" flex="75">
      Description
    </div>
  </div>

  <div class="schedule-main" layout="row" ng-repeat="data in todos" >
    <div class="" flex="25">
      {{data.title}}
    </div>
    <div class="desc " flex="75">
      {{data.description}}
    </div>
  </div>

</div>
