<div layout="row" layout-align="center center" class="submission-section">
  <form class="md-whiteframe-1dp" name='userForm' novalidate>
    <md-input-container class="md-block">
      <label>Name</label>
      <md-icon ><i class="fa fa-user-o" aria-hidden="true"></i></md-icon>
      <input required type="text" name="name" ng-model="user.name" />
      <div ng-messages="userForm.name.$error" role="alert">
        <div ng-message-exp="['required']">
          Please enter a valid name
        </div>
      </div>
    </md-input-container>
    <md-input-container class="md-block">
      <label>Title</label>
      <md-icon><i class="fa fa-bookmark-o" aria-hidden="true"></i></md-icon>
      <input required type="text" name="title" ng-model="user.title"
             minlength="10" maxlength="100" />
      <div ng-messages="userForm.title.$error" role="alert">
        <div ng-message-exp="['required', 'minlength', 'maxlength']">
          Please enter a valid title
        </div>
      </div>
    </md-input-container>
    <md-input-container class="md-block">
      <label>Email</label>
      <md-icon ><i class="fa fa-envelope-o" aria-hidden="true"></i></i></md-icon>
      <input required type="email" name="email" ng-model="user.email"
             minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />

      <div ng-messages="userForm.email.$error" role="alert">
        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
          Please enter a valid email
        </div>
      </div>
    </md-input-container>
    <md-input-container class="md-block">
      <label>Number</label>
      <md-icon ><i class="fa fa-phone" aria-hidden="true"></i></md-icon>
      <input required type="number" name="number" ng-model="user.number" minlength="10" maxlength="10"/>
      <div ng-messages="userForm.number.$error" role="alert">
        <div ng-message-exp="['required', 'minlength']">
          Number is required
        </div>
      </div>
    </md-input-container>
    <div class="box" layout="column" layout-laign="center center">
      <label class="myLabel btn btn-primary btn-circ btn-color">
          <input type="file" file-model="uploadedFile" required/>
          <span>Choose a file</span>
          <i class="fa fa-cloud-upload" aria-hidden="true"></i>
      </label>
    </div>
    <div class="btn-wrapper" layout="column" layout-align="center center">
      <button ng-disabled="userForm.$invalid" class="btn btn-primary btn-circ btn-color" ng-click="submit(user)">Submit</button>
    </div>
  </form>
</div>
<style>
label.myLabel input[type="file"] {
    position: fixed;
    top: -1000px;
}

/***** Example custom styling *****/
.myLabel {
    display: inline-block;
}
.myLabel:hover {
    /*background: #CCC;*/
}
.myLabel:active {
    /*background: #CCF;*/
}
.myLabel :invalid + span {
    /*color: #A44;*/
}
.myLabel :valid + span {
    color: #4A4;
}
</style>
