<div class="card" layout="column" layout-align="center center" style="padding:10px;">
  <b style="padding-top:20px">Registration Succesful</b>
  <a href="#!" ng-click="cancel()" class="btn btn-primary btn-circ btn-color">OK</a>
</div>
