<div layout="row" layout-align="center center" class="submission-section ">
  <form class="md-whiteframe-2dp" name='userForm' novalidate>
    <md-input-container class="md-block">
      <label>Name of Organization/School</label>
      <md-icon ><i class="fa fa-user-o" aria-hidden="true"></i></md-icon>
      <input required type="text" name="name" ng-model="user.org_name">
    </md-input-container>

    <md-input-container class="md-block">
      <label>Address</label>
      <md-icon ><i class="fa fa-map-marker" aria-hidden="true"></i></md-icon>
      <input required type="text" name="name" ng-model="user.address">
    </md-input-container>

    <md-input-container class="md-block">
      <label>Contact person name of Organization</label>
      <md-icon ><i class="fa fa-user-o" aria-hidden="true"></i></md-icon>
      <input required type="text" name="name" ng-model="user.contact_person">
    </md-input-container>

    <md-input-container class="md-block">
      <label>Contingent Leader Name</label>
      <md-icon ><i class="fa fa-user-o" aria-hidden="true"></i></md-icon>
      <input required type="text" name="name" ng-model="user.team_leader" >
    </md-input-container>

    <md-input-container class="md-block">
      <label>Expected No of people</label>
      <md-icon ><i class="fa fa-users" aria-hidden="true"></i></md-icon>
      <input required type="number" name="name" ng-model="user.enumpeeps" ng-change="addpeople(user.enumpeeps)">
    </md-input-container>

    <md-input-container class="md-block" ng-repeat="data in enumpeople; track by $index" >
      <label>Name of person no {{$index+1}}</label>
      <md-icon><i class="fa fa-bookmark-o" aria-hidden="true"></i></md-icon>
      <input required type="text" name="title" ng-model="data" ng-blur="addpeoplenames(data)" />
    </md-input-container>

    <md-input-container class="md-block">
      <label>Email</label>
      <md-icon ><i class="fa fa-envelope-o" aria-hidden="true"></i></i></md-icon>
      <input required type="email" name="email" ng-model="user.email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
    </md-input-container>

    <md-input-container class="md-block">
      <label>Number</label>
      <md-icon ><i class="fa fa-phone" aria-hidden="true"></i></md-icon>
      <input required type="number" name="number" ng-model="user.number" minlength="10" maxlength="10"/>
    </md-input-container>


    <div class="btn-wrapper" layout="column" layout-align="center center">
      <a ng-disabled="userForm.$invalid" class="btn btn-primary btn-circ btn-color cursor-poiner" ng-click="submitReg(user,'schoolcollegeforms')">Submit</a>
    </div>
    <div layout="row" layout-sm="column" layout-align="space-around" ng-show="isRegloading">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>


  </form>
</div>
<style>
label.myLabel input[type="file"] {
    position: fixed;
    top: -1000px;
}

/***** Example custom styling *****/
.myLabel {
    display: inline-block;
}
.myLabel:hover {
    /*background: #CCC;*/
}
.myLabel:active {
    /*background: #CCF;*/
}
.myLabel :invalid + span {
    /*color: #A44;*/
}
.myLabel :valid + span {
    color: #4A4;
}
</style>
